*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500;
    height: 600px;
    margin: 20px;
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
}

.item {
    flex-basis: 120px;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    /* sei dejamos con fle-shrink:0, se va a desbordar el contenido */
    flex-shrink: 1;
}

.item1 {
    background: steelblue;
    align-self: center;
}

.item2 {
    background: crimson;

}

.item3 {
    background: darkcyan;

}

.item4 {
    background: darkmagenta;

}