
/* todo: --------   RESET STYLES   ------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 502px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #000;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-content: space-evenly;
    /* flex-wrap: wrap; */
}


.item {
    flex: 1 0 200px;
    /* width: 100px; */
    height: 100px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    
    /* los elementos tomaran su espacio declarado y si le falta espacio en el container se desbordara  */
    flex-shrink: 1;
    
}

.item1 {
    order: -2;
    /* flex-grow: 2; */
    background: steelblue;
}

.item2 {
    /* flex-grow: 1; */
    background: crimson;
    height: auto;
    align-self: stretch;
    /* flex-grow: 1; */
    /* flex-shrink: 4; */
}

.item3 {
    background: darkcyan;
    /* flex-grow: 1; */
    /* flex-grow: 1; */
}

.item4 {
    order: -1;
    background: darkmagenta;
    /* flex-grow: 1; */
}